@mixin btn{
    background-color: $clr-btn;
    font: normal normal 400 16px/24px $lexend-deca;
    color: $clr-text;
    padding: 12px 25px;
}

@mixin aspect-ratio{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}