$clr-black:#000;
$clr-white:#FFFFFF;
$clr-AAABB0:#AAABB0;
$clr-AAABB0:#AAABB0;
$clr-btn:#00BABA;
$clr-text:#010311;
$clr-0B103F:#0B103F;
$clr-808188:#808188;
$lexend-deca:"Lexend Deca", sans-serif;
$lexend:"Lexend", sans-serif;

$h1:normal 700 54px/1.3 $lexend-deca;
$h2:normal 700 40px/1.3 $lexend-deca;
$h3:normal 400 32px/1.3 $lexend-deca;
$h4:normal 600 24px/1.3 $lexend-deca;
$h5:normal 600 22px/1.3 $lexend-deca;
$h6:normal 700 20px/1.4 $lexend-deca;


$p:normal 400 18px/27px $lexend-deca;